/* TODO: adjust viewport for mobile */

* {
    font-family: 'Open Sans', sans-serif;
    color: #1a1a1a;
}


@font-face {
    font-family: 'digital7';
    src: url('assets/fonts/digital-7_italic.ttf')  format('truetype');
  }


html {
    font-size: 62.5%;
    box-sizing: border-box;
    min-height: 100%;
}


a {

    color: #0088CC;
    text-decoration: none;

}


/* this seems to append CSS to the beginning and end of elements*/
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}


.wrapper {

    display: grid;
    margin: 0;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

}


.header {

    display: grid;
    font-size: 40px;
    /* color: white; */
    background-color: #FFF;
    padding: 20px 20px;
    grid-template-columns: repeat(2, 1fr);

}


.links {

    text-align: right;

}


.content {

    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-column-gap: 20px;
    background-color: #FFF;
    padding: 100px 100px;

}


.body-text {

    font-size: 30px;
    margin: auto;
    text-align: center;

}


.instructions {

    text-align: left;
    margin-left: 45%;
    color: #333333;
    font-size: 22px;

}


.instructions em {

    color: #abacae;
    font-size: 22px;

}


.calculator-container {

    margin: auto;

}


.footer {

    text-align: center;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}


.footer p {

    color: #abacae;

}


.calculator {

    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin: auto;
}


.screen {

    width: 100%;
    font-size: 5rem;
    font-family: 'digital7', monospace;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;

}

#sum-string-display {

    width: 100%;
    font-size: 3rem;
    font-family: 'digital7', monospace;
    height: 40px;
    border: none;
    background-color: #252525;
    color: #abacae;
    text-align: left;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}


button {

    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,
    transparent 50%, rgba(0,0,0,.04));

}


button:hover {

    background-color: #eaeaea;

}


.operator {

    color: #337cac;

}


.all-clear {

    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;

}


.all-clear:hover {

    background-color: #f17377;

}


.equals {

    background-color: #2e86c0;
    border-color: #337cac;
    color:#fff;

    grid-row-start: 2;
    grid-row-end: 6;

    grid-column-start: 4;
    grid-column-end: 5;

    height: 100%;

}

.equals:hover {

    background-color: #4e9ed4;

}


.calculator-keys {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px; /*grip-gap: 20px 20px; can also do this*/
    padding: 20px;   
}